header{
    border: 30px dashed rgb(255, 0, 0);

}

.seccion1{
    background-color: rgb(255, 89, 0);
    padding-top: 40px;
    padding-left: 20px;
}

.imagen1 {
    width: 400px;
}  

.imagen2 {
    height: 200px;
}

.imagen3 {
    width: auto;
    height: auto;
}

    

.seccion2{
    background-color: rgb(220, 214, 19);
    padding-top: 40px;
    padding-left: 20px;
    
}

.seccion3{
    background-color: rgb(38, 214, 15);
    padding-bottom: 140px;
    padding-right: 220px;
    padding-left: 20px;
    padding-top: 20px;
}

    
.tigre{
        
        float:right;
        width: 145px;
        height: 120px;
}